<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Банк «Рога &amp; копыта»</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>servlet.UserListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserEditServlet</servlet-name>
		<servlet-class>servlet.UserEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEditServlet</servlet-name>
		<url-pattern>/edit.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserSaveServlet</servlet-name>
		<servlet-class>servlet.UserSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSaveServlet</servlet-name>
		<url-pattern>/save.html</url-pattern>
	</servlet-mapping>
</web-app>